<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework codeConfigurationType="MySql.Data.Entity.MySqlEFConfiguration, MySql.Data.Entity.EF6">
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<connectionStrings>
  <add name="БД_x0020_MySqlContainer" connectionString="metadata=&quot;res://*/БД MySql.csdl|res://*/БД MySql.ssdl|res://*/БД MySql.msl&quot;;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=tsor5;persistsecurityinfo=True;database=diploma&quot;"
    providerName="System.Data.EntityClient" />
  <add name="Model1Container" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=tsor5;persistsecurityinfo=True;database=diploma&quot;"
    providerName="System.Data.EntityClient" />
  <add name="Model1Container1" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=tsor5;persistsecurityinfo=True;database=diploma&quot;"
    providerName="System.Data.EntityClient" />
  <add name="Диплом.Properties.Settings.diplomaConnectionString"
    connectionString="server=localhost;user id=root;password=tsor5;persistsecurityinfo=True;database=diploma"
    providerName="MySql.Data.MySqlClient" />
</connectionStrings></configuration>